# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
airflow_venv/

# Airflow
logs/
airflow.db
airflow.cfg
webserver_config.py

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db